<table style="width:100%">
  <tr>
    <th> <%= @artist_name %>'s product </th>
    <th> Other identical product </th>
    <th> Other artist </th>
    <th> <%= @artist_name %>'s price </th>
    <th> Other price </th>
  </tr>
  <%- @artist_matches.each do |match| -%>
  <tr>
    <td> <%= link_to match['name_1'], match['prod_url_1'] %> <br> </td>
    <td> <%= link_to (match['name_2']), match['prod_url_2'] %> </td>
    <td> <%= link_to ("#{@id_to_artist[match['artist_id_2']]}"), ("/artist/#{match['artist_id_2']}")%></td>
    <td> <%= "$#{'%.02f' % match['price_1']}" %> </td>
    <td> <%= " - $#{'%.02f' % match['price_2']}" %> </td>
  </tr>
  <%- end -%>
</table>
